<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328440071001-tqa96c3gq4o33i183l530cvh2vb9m2cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328440071001-tqa96c3gq4o33i183l530cvh2vb9m2cs</string>
	<key>API_KEY</key>
	<string>AIzaSyCvzJsZqScJv7hcoQCMBqrH_OKp1QloyPc</string>
	<key>GCM_SENDER_ID</key>
	<string>328440071001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amberWebsite</string>
	<key>PROJECT_ID</key>
	<string>amberiitism</string>
	<key>STORAGE_BUCKET</key>
	<string>amberiitism.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328440071001:ios:a705791ce5753b3a820248</string>
</dict>
</plist>